<p style="color: green"><%= notice %></p>

<h1>Categories</h1>

<div id="categories">
  <table style="width: 30%; text-align: left;">
    <thead>
      <th>No</th>
      <th>Name</th>
      <th></th>
    </thead>
    <tbody>
      <% @categories.each_with_index do |category, index| %>
        <tr>
          <td><%= index + 1 %></td>
          <td><%= category.name %></td>
          <td><%= link_to "Show this category", category %></td>
        </tr>
      <% end %>
    </tbody>
  </table>
</div>

<%= link_to "New category", new_category_path %>
