<h1>Daily Reports of Order: <%= @date %></h1>

<div id="orders">
  <table style="width: 50%; text-align: left;">
    <thead>
      <th>No</th>
      <th>Order Date</th>
      <th>Customer Email</th>
      <th>Total</th>
      <th>Status</th>
      <th></th>
    </thead>
    <tbody>
      <% @orders.each_with_index do |order, index| %>
        <tr>
          <td><%= index + 1 %></td>
          <td><%= order.created_at %></td>
          <td><%= order.customer_email %></td>
          <td><%= order.total %></td>
          <td><%= order.status %></td>
          <td><%= link_to "Show this order", order %></td>
        </tr>
      <% end %>
    </tbody>
  </table>
</div>

<table>
  <tbody>
    <tr>
      <form action="/reports/email" method="POST">
        <td><label>Search by Email</label></td>
        <td><input type="search" name="email" required></td>
        <td><button>Search</button></td>
      </form>
    </tr>
    <tr>
      <form action="/reports/total-price" method="POST">
        <td><label>Search by Total Price:</label></td>
        <td><input type="number" name="range_total_price_from" required></td>
        <td><input type="number" name="range_total_price_until" required></td>
        <td><button type="Submit">Search</button></td>
      </form>
    </tr>
    <tr>
      <form action="/reports/range-date" method="POST">
        <td><label>Search by Total Price:</label></td>
        <td><input type="date" name="range_date_from" required></td>
        <td><input type="date" name="range_date_until" required></td>
        <td><button type="Submit">Search</button></td>
      </form>
    </tr>
  </tbody>
</table>