<!DOCTYPE html>
<html>
  <head>
    <title>RailsRuby3</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
  </head>

  <header>
    <div class="header-title">
      <%= link_to("Gigih Family Catering", "/") %>
    </div>
    <% if @current_user %>
      <div style="float:right;margin-right:15px;">
          <%= button_to("Log out", "/logout") %>
      </div>
      <div style="float:right;margin-right:15px;">
        <%= link_to("Category", "/categories") %>
      </div>
      <div style="float:right;margin-right:15px;">
        <%= link_to("Menu", "/menus") %>
      </div>
      <div style="float:right;margin-right:15px;">
        <%= link_to("Order here", "/orders") %>
      </div>
      <div style="float:right;margin-right:15px;">
        User:
        <%= @current_user.name %>
      </div>
    <% else %>
      <div style="float:right;">
        <%= link_to("Log in", "/login") %>
      </div>
    <% end %>
  </header>

  <body>
    <%= yield %>
  </body>
</html>
